<script type="text/javascript">

  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker({
    		format: 'dd/mm/yyyy',
    		language: 'pt-BR'
    });
  });

  </script>


<%= simple_form_for @graph  do |f| %>
  <%= f.error_notification %>
	<table>
  	<tr>
    	<td><%= f.label "Data de início: " %></td>
		<td><%= f.text_field :start_date, 'data-behaviour' => 'datepicker', :required => true %></td>
  	</tr>
    <tr>
        <td><%= f.label "Data de fim: " %></td>
        <td><%= f.text_field :end_date, 'data-behaviour' => 'datepicker', :required => true %></td>

  	<tr>
  	  <td><%= f.label "Local dos atendimentos" %></td>
   	  <td><%= f.select :place_id, Place.where('active is true').order('name ASC').collect { |p| [p.name, p.id] }  %></td>
 	</tr>
	</table>

	<%= button_tag :class => 'btn-success btn', :id => 'gerar-grafico' do %>
  		<i class='fa fa-plus-circle'></i> Gerar Gráfico
  	<% end %>



<% end %>

