<div class="container">
  <div class="row">
    <div class="page-header">

      <h1>Tipos de Atendimentos</h1>
      <%= render partial: "shared/navbar_collapsible"%>
      <div align="right" >

        <%=link_to raw("<i class=\"fa fa-plus-circle\"> Criar Tipo de Atendimento </i>"),
                   new_type_path,
                   class: "btn btn-success  btn-small"%>
      </div>
    </div>



    <div id='registros'>
      <table id="types" class="display">


        <thead>
      <tr>
        <th>Nome</th>
        <th>Status</th>
        <%if can? :edit, Type%>
        <th>Editar</th>
        <% end %>
        <%if can? :delete, Type%>
        <th>Ativar</th>
        <% end %>

      </tr>

    </thead>

   <tbody>


      <% @types.each do |type| %>
          <tr>
            <td width="50%"><%= type.try(:name) %></td>
            <td><%= type.try(:active) ? "Habilitado" : "Desabilitado" %></td>
            <%if can? :edit, Type%>
            <td><%= bs_button_to  raw("<i class=\"fa fa-pencil-square-o\"></i>"),
                                  edit_type_path(type),tooltip: "Editar Tipo de Atendimento",
                                  class: "btn btn-large btn-primary",
                                  method: :get %></td>

             <%end%>
            <%if can? :delete, Type%>
            <td><%= bs_button_to raw("<i class=\"fa %s \"></i>" % (type.active ? "fa-lock": "fa-unlock")),
                                 type, tooltip: "%s Tipo de Atendimento" % (type.active ? "desativar" : "ativar"),
                                 class: "btn btn-large btn-danger",
                                 method: :delete, data: {confirm: 'Tem certeza que deseja %s este tipo de atendimento para todo o Sistema de Registro de Atendimentos?' % (type.active ? "desativar" : "ativar")} %></td>


            <%end%>

          </tr>

      <% end %>
   </tbody>
    </table>

      </div>
    <br/>

  </div>
</div>