<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Lista de Atendimentos</h1>
      <%= render partial: "shared/navbar_collapsible"%>
      <div align="right">

        <%= link_to raw("<i class=\"fa fa-plus-circle\"> Criar Atendimento </i>"),
                    new_atendimento_path,
                    class: "btn btn-success  btn-small" %>
      </div>
    </div>

    <div id='registros'>
      <table id="atendimentos" class="display">

        <thead>
        <tr>
          <th>Nome</th>
          <th>Data</th>
          <th>Público Alvo</th>
          <th>Local de Atendimento</th>
          <th>Tipo de Atendimento</th>
          <th class="edit-button"></th>
          <%if can? :delete, Atendimento%>
              <th></th>
              </tr>
          <% end %>
          </thead>
        <tbody>
        <% @atendimentos.each do |atendimento| %>
              <tr>
                <td><%= atendimento.user.try(:name) %></td>
                <td><%= l(atendimento.try(:created_at), :format => :long) if atendimento.updated_at %></td>
                <td><%= verify_user atendimento.user %></td>
                
                <td><%= atendimento.place.try(:name) %></td>
                <td><%= atendimento.type.try(:name) %></td>
                <%if can? :edit, Atendimento%>
                   <td><%= bs_button_to  raw("<i class=\"fa fa-pencil-square-o\"></i>"),
                                    edit_atendimento_path(atendimento),tooltip: "Editar Atendimento",
                                    class: "btn btn-large btn-primary",
                                    method: :get %></td>

                <%end%>
                <%if can? :delete, Atendimento%>
                    <td><%= bs_button_to raw("<i class=\"fa fa-trash-o\"></i>"),
                                         atendimento, tooltip: "Excluir Atendimento",
                                         class: "btn btn-large btn-danger",
                                         method: :delete, data: {confirm: 'Tem certeza que deseja excluir?'} %></td>
                <%end%>

              </tr>

          <% end %>
        </tbody>
          </table>

    </div>

    <br/>

  </div>
</div>

