<%= simple_form_for @user, url: {action: "create"} do |f| %>

    <div class="form-inputs">
      <%= f.input :name, :label => 'Nome do Usuário', :required => true %>
      <%= f.input :matricula, :label => 'CPF', :required => true %>
      <%= f.input :username, :label => 'Login', :required => true %>
      <%= f.input :password, :label => 'Senha', :required => true %>
    </div>

    <%= link_to raw("<i class=\"icon-white icon-arrow-left\"> Voltar </i>"), root_path, 
    	class: "btn btn-warning"%>

    <%= button_tag :class => 'btn-success btn', :id => 'cadastrar-usuario-externo' do %>
        <i class='fa fa-plus-circle'></i> Cadastrar Usuário
    <% end %>

<% end %>
