<%= simple_form_for(:user, :html => {:class => 'form-vertical' }) do |f| %>


    <div class="places-form">

      <div class="field">

       <div class="accordion" id="accordion2">
  	  <div class="accordion-group">
    	   <div class="accordion-heading">
      	     <h4 class="accordion-title">
        <a class= "accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          Gerente
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
       <ul>
         <li>Criar e mudar tipo e local de atendimento</li>
         <li>Gerar relatórios</li>
         <li>Visualizar Gráficos</li>
       </ul>
	<%= f.input :role_ids, :collection => Role.where(:name => :manager), :as => :check_boxes, :label_method => lambda {|t| t.display_name.titleize}, :label => false, :item_wrapper_class => 'inline', checked_value: :role_ids%>

      </div>
</div>
    </div>
  	  <div class="accordion-group">
    	   <div class="accordion-heading">
      	     <h4 class="accordion-title">
        <a class= "accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          Administrador
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          <li>Todas as permissões de gerente</li>
          <li>Deletar dados</li>
          <li>Alterar permissões</li>
       </ul>
	<%= f.input :role_ids, :collection => Role.where(:name => :admin), :as => :check_boxes, :label_method => lambda {|t| t.display_name.titleize}, :label => false, :item_wrapper_class => 'inline', checked_value: :role_ids%>


</div>
    </div>
  </div>
  </div>
</div>


       <%# f.submit "Alterar permissões", :method => :get %>
           <%= link_to raw("<i class=\"icon-white icon-arrow-left\"> Voltar </i>"),
                        permissions_path ,
                        class: "btn  btn-warning"%>
         <%= button_tag :class => 'btn-success btn', :id => 'alterar-permissoes' do %>
            <i class='fa fa-plus-circle'></i> Alterar permissões
          <% end %>

      </div>

   <% end%>
