    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>


    <div class="form-inputs">


      <%= f.input :username, :autofocus => true, :label => 'Login', :required => false%>
      <%= f.input :password, :label => 'Senha' %>

      <%= link_to raw("<i class=\"icon-white icon-share\"> Usuário Externo? </i>"), new_user_path,
    	class: "btn btn-info"%>

      <%= button_tag :class => 'btn-success btn' ,:id => 'login' do %>
          <i class='fa fa-sign-in'></i> Login
      <% end %>

    </div>

<% end %>
