

</div>

<% if place.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% place.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>


<%= simple_form_for(place, :html => {:class => 'form-vertical' }) do |f| %>


    <div class="places-form">

      <div class="field">
        <%= f.input :name %>

      </div>

      <div class="field">
        <table id="types2" class="display">
          <thead>
          <tr>
            <th>Tipos de atendimento</th>
            <th>Já utilizado em</th>
          </tr>
          </thead>
          <tbody>
         <% type.each do |type| %>
              <tr>
                <td><%= f.association :types, :label => false, :as => :check_boxes, class: 'form-control', :collection => Array.wrap(type_find(type.id))%></td>

                <td><%= type.places.map(&:name).to_sentence  %></td>



              </tr>
          <% end %>
          </tbody>

        </table>

      </div>


      </br>
      </br>

      <%= link_to raw("<i class=\"icon-white icon-arrow-left\"> Voltar </i>"),
                  places_path ,
                  class: "btn btn-warning"%>
      <%= button_tag :class => 'btn-success btn' , :id => 'criar-local' do %>
          <i class='fa fa fa-refresh'></i> Atualizar Local de Atendimento
      <% end %>

    </div>
<% end %>