<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Lista de Locais de Atendimentos</h1>
      <%= render partial: "shared/navbar_collapsible"%>

      <div align="right" >
        <%=link_to raw("<i class=\"fa fa-map-marker\"> Criar Local de Atendimento </i>"),
                   new_place_path,
                   class: "btn btn-success  btn-small"%>
      </div>
    </div>



    <div id='registros'>
      <table id="places" class="display">
        <thead>
        <tr>
        <th>Nome</th>
          <%if can? :delete, Place%>
        <th>Status</th>
        <th>Editar</th>
          <% end %>
        <th>Escolher Local</th>
        <th>Ativar</th>
      </tr>
      </thead>

      <tbody>
      <% @places.each do |place| %>
          <tr>
            <td><%= place.try(:name) %></td>
            <td><%= place.try(:active) ? "Ativado" : "Desativado" %></td>
            <%if can? :edit, Place%>
            <td><%= bs_button_to  raw("<i class=\"fa fa-pencil-square-o\"></i>"),
                                  edit_place_path(place),tooltip: "Editar Local de Atendimento",
                                  class: "btn btn-large btn-primary",
                                  method: :get %>
            </td>
      <%end%>

            <td><%= bs_button_to  raw("<i class=\"fa %s\"></i>" %
                                  ((cookies[:place_name] == place.name) ? "fa fa-check-square" : "fa-check-square-o")),
                                  set_place_path(place),tooltip: "Escolher Local de Atendimento",
                                  class: "btn btn-large btn-primary",
                                  method: :get %>
            </td>

            
            <%if can? :delete, Place%>
                <td><%= bs_button_to raw("<i class=\"fa %s\"></i>" % (place.active ? "fa-lock" : "fa-unlock")),
                                     place, tooltip: "%s Local de Atendimento" % (place.active ? "Desabilitar" : "Habilitar"),
                                     class: "btn btn-large btn-warning",
                                     method: :delete, data: {confirm: 'Tem certeza que deseja %s?' % (place.active ? "desabilitar" : "habilitar")} %></td>
            <%end%>
            
          </tr>
      <% end %>
      </tbody>

    </table>
  </div>
    <br/>
  </div>
</div>
